container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
  03_chmod_sqlite:
    command: "chmod 666 db.sqlite3"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: gallery_dev.settings.common
  aws:elasticbeanstalk:container:python:
    WSGIPath: gallery_dev/wsgi.py
  aws:elasticbeanstalk:container:staticfiles:
    "/static/": "staticfiles/"
