{% extends "accounts/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 2rem; margin-bottom: 2rem">
    <div class="row">
      <div class="col-6">
    <h1> {{ user_type }} : 회원가입 </h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for error in form.non_fields_errors  %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endfor %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form|crispy }}
      <button class="btn btn-light btn-lg" type="submit" id="form-btn">SEND</button>
    </form>
  </div>
  </div>
</div>

{% endblock %}
